
*.DS_Store
build/*
build/
nbproject
contrib/prebuilt/darwin*
contrib/prebuilt/linux*
contrib/prebuilt/windows*
contrib/prebuilt/ios*
contrib/prebuilt/android*
contrib/java/*.log

package/linux*
package/darwin*
package/windows*

*.tgz

*.class
/package/*
/test/w3c/graphs/

/.idea/*

/test/bindings/java/logs/
