
*.DS_Store
build/*
build/
build*/
nbproject
contrib/prebuilt/darwin*
contrib/prebuilt/linux*
contrib/prebuilt/windows*
contrib/prebuilt/ios*
contrib/prebuilt/android*
package/linux*
package/darwin*
package/windows*

*.tgz

*.class

/package/*